strict_env

use flake

export EDITOR='codium --wait'
export SOPS_AGE_KEY_CMD=print-age-priv-key

export SSH_PORT=4721
export NIX_SSHOPTS="-p 4721"

use_sops() {
   local path=${1:-$PWD/secrets.yaml}
   local key=${1:-'["ENV"]'}
    eval "$(sops --decrypt --output-type dotenv --extract "$key" "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}

use_sops
